# -----------------------------
# App Environment
# -----------------------------
NODE_ENV=development
NEXT_PUBLIC_ENV=local

# -----------------------------
# App URLs
# -----------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000


# -----------------------------
# i18n
# -----------------------------
NEXT_PUBLIC_DEFAULT_LOCALE=fa
NEXT_PUBLIC_SUPPORTED_LOCALES=fa,en